html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    font-family: 'Roboto', sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

header img {
    width: 200px;
    height: auto;
}

.addbeer {
    background-color: #584595;
    width: 100px;
    height: auto;
    margin: 0 auto;
    padding: 10px;
    cursor: pointer;
    color: white;
    font-size: 40px;
}

.addbeer:hover {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

#logo {
    margin-left: 20px;
    margin-top: 10px;
}

.addbeer {

}
.addbeer img {
        width: 50px;
        height: auto;
}

.beertotal {
    text-align: center;
    margin-bottom: 50px;
}

.beertotal-beer {
    width: 50px;
    height: 72;
    display: inline-block;
    margin-top: 20px;
}

.bierschuim {
    background-image: url("../img/bierschuim-border.png");
    width: 100%;
    height: 200px;
    position: absolute;
    bottom: 100px;
}

.bier {
    width: 100%;
    height: 100px;
    background-color: #FFC107;
    position: absolute;
    bottom: 0;

}

.buttoncontainer {
    width: auto;
    height: 100px;
    text-align: center;
}

.button {
    padding: 10px 15px;
    width: auto;
    display: inline;
    color: #584595;
    text-transform: uppercase;
    cursor: pointer;
    border: #584595 solid 2px;
    transition: all 0.3s ease 0s;

}

.button:hover {
    background-color: #c9b9ff;

}

.statusitem {
    float:right;
    margin: 10px;
}

.statusitem p {
    font-size: 13px;
    text-transform: uppercase;
    text-align: center;
}
.statusitem-img {
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    border: #584595 solid 4px;
    margin: 0 auto 10px auto;
    background-size: 100%;
    text-align: center;
    font-weight: bold;
    line-height: 90px;
    background-color: white;
}

.getsbeer {
    background-color: #66BB6A;
    margin: 0 auto;
    width: 280px;
    height: 105px;
    padding: 20px;
    line-height: 100px;
    color: white;
    /*text-align: right;*/
}

.getsbeer-img {
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    border: #4b864d solid 4px;
    float: left;
    margin-right: 20px;
    background-size: 100%;

}

#chart {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    height: 300px;
    text-align: center;
}

.chartbar {
    width :30px;
    background-color: #4b864d;
    margin: 0 15px;
    display: inline-block;
    position: relative;
}

.chartbar-img {
    background-repeat: no-repeat;
    background-color: white;
    background-position: 50%;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    border: #4b864d solid 4px;
    position: absolute;
    top:-10px;
    left: -10px;
    background-size: 100%;
    line-height: 40px;

}

#getbeercontainer {
    position: absolute;
    z-index: 1000;
    width: 100%;
    height: 100%;
}

#getbeer {
    margin: 100px auto 0 auto;
    width: 400px;
    height: 180px;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    border: #584595 solid 4px;
    text-align: center;
}

#message{
    text-align: center;
}

#getbeer img {
    height: 80px;
    width :auto;
    display: inline-block;
}

#getbeer h2 {
    font-size: 20px;
    text-align: center;
}

.blur {
filter: blur(5px);
  -webkit-filter: blur(5px);
}
